@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

/* font-family: 'Inter', sans-serif;

font-family: 'Lexend Deca', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--main-paragraph);
  font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-background);
  height: 100vh;
  width: 100%;
}

.card {
  width: 87%;
  max-width: 53rem;
  background: var(--card-background);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.img-box {
  position: relative;
}

.img-box img {
  max-width: 100%;
}

.overlay {
  width: 100%;
  height: 98%;
  background: hsla(277, 64%, 61%, 0.549);
  position: absolute;
  top: 0;
  right: 0;
}

.card-text-box {
  padding: 3rem;
}

.card-heading {
  font-size: 2.6rem;
  text-align: center;
  color: var(--White);
  margin-bottom: 2rem;
}

.card-heading span {
  color: var(--accent);
}

.card p {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: var(--stat-headings);
  line-height: 1.7;
  margin-bottom: 2rem;
}

.features {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.feature p {
  text-transform: uppercase;
  margin: 0;
}

.features p:first-child {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--White);
}

.features p:last-child {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.2rem;
  color: var(--stat-headings);
}

.attribution {
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 1440px) {
  .card {
    width: 76%;
    max-width: 109rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    justify-content: space-between;
    text-align: left;
    column-gap: 5rem;
  }

  .img-box {
    order: 2;
  }

  .overlay {
    height: 99%;
  }

  .card-text-box {
    width: 80%;
  }

  .card-heading {
    font-size: 2.8rem;
    text-align: left;
    margin-bottom: 3rem;
  }

  .card-heading ~ p {
    font-size: 1.4rem;
    margin-bottom: 6rem;
  }

  .card p {
    text-align: left;
  }

  .card-text-box {
    order: 1;
    padding: 5rem;
  }

  .features {
    flex-direction: row;
    justify-content: space-between;
  }

  .features p:first-child {
    text-align: center;
    font-size: 2.4rem;
  }

  .features p:last-child {
    text-align: center;
  }
}
